@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 90, 82, 82, 1;
  --background-start-rgb: 250, 204, 204, 0.3;
  --background-end-rgb: 250, 204, 204, 1;

  --primary-color: 250, 204, 204, 1;
  --background-paper: 255, 255, 255, 0.70;
  --background-card:  250, 204, 204, 0.75;
  --background-dialog: 255, 255, 255, 0.1;
  --backgroud-input: 255, 255, 255, 0.5;
}

/* and (max-width: 600px) { */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255, 1;
    --background-start-rgb: 0, 0, 0, 0.5;
    --background-end-rgb: 183, 112, 112, 1;

    --primary-color: 250, 204, 204, 1;
    --background-paper: 183, 112, 112, 0.70;
    --background-card: 90, 82, 82, 0.3;
    --background-dialog: 0, 0, 0, 0.1;
    --backgroud-input: 255, 255, 255, 0.2;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
}

select::before,
select::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

table,
td {
  border: 1px solid #333;
  padding: 0.5rem;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}

.text-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}